@import '../../../styles/variables.module'; 
@import '../../../styles/utils.module';
@font-face {
    font-family: Furore; 
    src: url('../../../fonts/Furore.woff2') format('woff'); 
}
@font-face {
    font-family: arial;
    src: url('../../../fonts/ArialMT.woff2') format('woff');
}

.aboutUsSection {
    background-color: $color-ultra_light_grey;
  }
.aboutUs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: $desktop;
    margin: 0 auto;
  }
  
.rightside {
    width: 100%; 
    padding: 115px 56px 120px 100px;
}

.header {
    color: $color-black;
    font-family: Furore;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0px 0 50px 0;
    width: 288px;
    height: 55px;
}

.text {
    color: $color-black;
    font-family: Arial;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px;
    margin: 0 0 40px 0;
    padding: 0px;
}


