@import '../../../styles/variables.module';

.langSwitcher {
  position: relative;
  margin-left: 16px;
  border: 1px solid $color-black;
  transition: all $transition-duration $timing-function;
  &:focus{
    border: 3px solid $color-olive;
  }
}
.langItem {
  display: flex;
  padding: 16px;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}

.selectedLang {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: calc(100% + 2px);
  transform: translate(-1px, calc(100% - 1px));
  background-color: $color-ultra-light-grey;
  border: 1px solid $color-black;
  border-top: none;
  transition: background-color $transition-duration $timing-function;

  &:hover {
    background-color: $color-green;
  }
}

.switchIcon {
  font-size: 16px;
}

.switchLang {
  color: $color-black;
  font-family: inherit;
  font-size: 16px;
  white-space: nowrap;
}
