@import "../../../styles/variables.module";

.section {
	padding-top: 50px;
	padding-bottom: 50px;

	// @media screen and (min-width: $tablet) {
	// 	padding-top: 60px;
	// 	padding-bottom: 60px;
	// }

	@media screen and (min-width: $desktop) {
		padding-top: 85px;
		padding-bottom: 80px;
	}
}

.container {
	width: $mobile;
	padding-left: 16px;
	padding-right: 16px;
	margin: 0 auto;

	// @media screen and (min-width: $tablet) {
	// 	padding-left: 60px;
	// 	padding-bottom: 60px;
	// }

	@media screen and (min-width: $desktop) {
		width: $desktop;
		padding-left: $section-padding;
		padding-right: $section-padding;
	}
}

.titleWrapper {
	display: flex;

	@media screen and (min-width: $mobile) and (max-width: 1279.5px) {
		flex-direction: column;
		width: 288px;
		margin: 0 auto;
		margin-bottom: 30px;
	}

	@media screen and (min-width: $desktop) {
		align-items: center;
		margin-bottom: 76px;
	}
}

.title {
	max-width: 180px;
	font-size: 30px;
	line-height: 1.2;
	margin-bottom: 10px;

	@media screen and (min-width: $desktop) {
		max-width: 360px;
		font-size: 48px;
		line-height: 1.04;
		letter-spacing: 0.364px;
		margin-right: 20px;
	}
}

.subscription {
	width: 100%;
	font-family: Arial;
	font-size: 13px;
	line-height: 1.5;

	@media screen and (min-width: $desktop) {
		max-width: 350px;
		font-size: 18px;
	}
}
