@import "../../../styles/variables.module";

.section {
	padding-top: 50px;
	padding-bottom: 50px;

	@media screen and (min-width: $desktop) {
		padding-top: 80px;
		padding-bottom: 100px;
	}
}

.section.isNone {
	display: none;
}

.container {
	width: $mobile;
	padding-left: $section-padding-mob;
	padding-right: $section-padding-mob;
	margin: 0 auto;

	@media screen and (min-width: $desktop) {
		width: $desktop;
		padding-left: $section-padding;
		padding-right: $section-padding;
	}
}

.titleWrapper {
	display: flex;

	@media screen and (min-width: $mobile) and (max-width: 1279.98px) {
		flex-direction: column;
		margin-bottom: 30px;
	}

	@media screen and (min-width: $desktop) {
		align-items: center;
		margin-bottom: 60px;
	}
}

.title {
	display: inline-block;
	font-size: 30px;
	line-height: 1.2;
	margin-bottom: 10px;

	@media screen and (min-width: $desktop) {
		width: 380px;
		font-size: 48px;
		line-height: 1.04;
		letter-spacing: 0.364px;
		margin-bottom: 0;
		margin-right: 96px;
	}
}

.subscription {
	display: inline-block;
	font-family: Arial;
	font-size: 13px;
	line-height: 1.5;

	@media screen and (min-width: $desktop) {
		max-width: 306px;
		font-size: 18px;
	}
}
