<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>

<body>
	<section>
		<div className="titleWrapper">
			<h2 className="title">Військові про курс</h2>

			<p className="subcription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
				vulputate
				libero et velit interdum, ac aliquet odio mattis.
			</p>
		</div>

		<div className="reviewContainer">

			<div className="thumb">
				<img src="" alt="">
			</div>

			<div className="reviewWrapper">
				<p className="review">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate
					libero et velit
					interdum,
					acaliquet odio mattis."</p>

				<p className="reviewName">Name Example</p>
				<p className="reviewProfetion">Profetion example</p>

			</div>
		</div>
	</section>

</body>

</html>