@import "../../../styles/variables.module";

.form {
	width: 575px;
	margin: 0 auto;
	padding-bottom: 48px;
	display: flex;
	flex-direction: column;
	text-align: center;

	&__title {
		margin-bottom: 16px;

		font-size: 54px;
	}

	&__text {
		margin-bottom: 60px;
		font-family: Arial;
		font-size: 18px;
		line-height: 1.5;
	}

	&__label {
		position: relative;
		margin-bottom: 100px;
		text-align: left;
		font-family: Arial;
		font-size: 22px;
	}

	&__labelError {
		color: $color-error;
	}

	&__input {
		width: 100%;
		margin-top: 16px;
		padding: 19px 15px;
		outline: transparent;
		border-radius: 0;
		border: 1px solid $color-black;

		font-family: Arial;
		font-size: 18px;

		color: $color-black;
		background-color: $color-ultra-light-grey;

		&::placeholder {
			font-family: Arial;
			font-size: 18px;

			color: $color-grey;
		}
	}

	&__inputError {
		border-color: $color-error;
	}

	&__btnWrapper {
		display: flex;
		align-items: center;
		gap: 35px;
	}

	& &__btn {
		color: $color-ultra-light-grey;
		background-color: $color-black;

		&:disabled {
			color: $color-ultra-light-grey;
			background-color: $color-grey;
			border-color: transparent;
			cursor: auto;
		}
	}

	&__borderWrapper {
		position: relative;
		outline: none;
	}

	&__btnBack {
		min-width: 270px;
		font-family: inherit;
		text-transform: uppercase;
		font-size: 22px;
		line-height: 1.2;
		padding: 32px 46px;
		border: none;
		color: $color-black;
		background-color: transparent;
		cursor: pointer;
		--size-corner: 35px;
		clip-path: polygon(
			0 0,
			100% 0,
			100% 100%,
			80% 100%,
			var(--size-corner) 100%,
			0 calc(100% - var(--size-corner))
		);

		transition:
			color $transition-duration $timing-function,
			background-color $transition-duration $timing-function;

		&:hover {
			color: $color-ultra-light-grey;
			background-color: $color-olive;
		}
	}

	&__error {
		position: absolute;
		left: 0;
		top: 108px;

		font-family: Arial;
		font-size: 16px;
		line-height: 1.5;

		color: $color-error;
	}
}
