@import "../../../styles/variables.module";

.form {
    width: 575px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;

    &__title {
        margin-bottom: 16px;

        font-size: 54px;
    }

    &__text{
        margin-bottom: 178px;
        font-family: Arial;
        font-size: 18px;
        line-height: 1.5;
    }

    &__label {
        position: relative;
        margin-bottom: 100px;
        text-align: left;
        font-family: Arial;
        font-size: 22px;
    }

    &__input {
        width: 100%;
        margin-top: 16px;
        padding: 19px 15px;
        outline: transparent;
        border-radius: 0;
        border: 1px solid $color-black;
    
        font-family: Arial;
        font-size: 18px;
    
        color: $color-black;
        background-color: $color-ultra-light-grey;
    
        &::placeholder {
            font-family: Arial;
            font-size: 18px;
    
            color: $color-grey;
        }
    }

    &__btnWrapper{
        margin-bottom: 48px;
    }

    & &__btn {
        min-width: 270px;

        &:disabled {
            color: $color-ultra-light-grey;
            background-color: $color-grey;
            border-color: transparent;
        }
    }

    &__btnOutline{
        position: relative;
        margin-left: 35px;
        min-width: 270px;
        height: 92px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border: 3px solid transparent;
        outline: none;
        cursor: pointer;

        --size-corner: 36px;
        clip-path: polygon(0 0,
            100% 0,
            100% 100%,
            80% 100%,
            var(--size-corner) 100%,
            0 calc(100% - var(--size-corner)));
        
        text-align: center;
        text-transform: uppercase;
        font-family: inherit;
        font-size: 22px;
        line-height: 1.2;
        
        color: $color-black;
        background-color: transparent;
        transition: background-color $transition-duration $timing-function,
            color $transition-duration $timing-function;

        &:hover {
            color: $color-ultra-light-grey;
            background-color: $color-olive;

            &__btnIcon {
                stroke: $color-olive;
            }
        }
    }

    &__btnIcon {
        position: absolute;
        z-index: -1;
        right: -3px;
        top: -3px;
        outline: none;
        stroke: $color-black;
        transition: stroke $transition-duration $timing-function,
            stroke-width $transition-duration $timing-function;

        &:focus{
            stroke: $color-olive;
            stroke-width: 3px;
        }
    }

    &__error{
        position: absolute;
        left: 0;
        bottom: -30px;

        font-family: Arial;
        font-size: 16px;
        line-height: 1.5;

        color: $color-error;
    }
}    