@import "../../../../styles/variables.module";
@import "../../../../styles/mixins.module";

.cancelBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-black;
    width: 270px;
    height: 92px;
    font-size: 22px;
    line-height: 27px;
    transition: all $transition-duration $timing-function;
    @include emptyCutBtn();

    &:hover {
        color: $color-white;
    }
}
.publishBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-white;
    width: 270px;
    height: 92px;
    font-size: 22px;
    transition: all $transition-duration $timing-function;
    @include cutBtn();

    &:hover {
        color: $color-white;
    }
}

.btnBox{
    display: flex;
    gap: 40px;
    margin-top: 100px;
}

.textareasWrapper{
    display: flex;
    gap: 30px;
    margin-bottom: 120px;
}

.titles{
    font-family: Arial;
    font-size: 22px;
    margin-bottom: 16px;
}
.textarea{
    position: relative;
    width: 410px;
    min-height: 168px;
    padding: 20px 15px;
    border: 1px solid $color-black;
    font-family: Arial;
    font-size: 22px;
    resize: none;
    outline: none;
    background-color: transparent;
    &::placeholder{
        color: $color-grey;
    }
}
.inputType{
    position: absolute;
    top: 20px;
    right: 6px;
}
.inputUrl{
    width: 410px;
    padding: 18px 15px;
    border: 1px solid $color-black;
    font-family: Arial;
    font-size: 18px;
    outline: none;
    background-color: transparent;

    &::placeholder {
        color: $color-grey;
    }
}

.imgBox{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 262px;
    height: 100px;
    border: 1px solid $color-grey;
    margin-bottom: 80px;
    overflow: hidden;
}
.img{
    max-height: 100%;
    max-width: 100%;
}
.uploadBtn{
    position: absolute;
    top: 7px;
    right: 7px;
    width: 40px;
    height: 40px;
    color: $color-black;
    background-color: $color-green;
    transition: all $transition-duration $timing-function;
    &:hover{
        background-color: $color-olive;
        color: $color-white;
    }
    & path{
        stroke: currentColor;
    }
}
.uploadInput{
    width: 100%;
    height: 100%;
    opacity: 0;
}
.uploadIcon{
    position: absolute;
}
.fieldWrapper{
    position: relative;
}
.errorMsg{
    position: absolute;
    bottom: -34px;
    left: 0;
    font-family: Arial;
    font-size: 10x;
    line-height: 28px;
    color: $color-error;
}
.errorMsgTextarea{
    position: absolute;
    bottom: -40px;
    left: 0;
    font-family: Arial;
    font-size: 12x;
    color: $color-error;
}
.sizeCounter{
    position: absolute;
    left: 0;
    bottom: -20px;
    font-family: Arial;
    font-size: 12px;
    color: #798738;
    &__right{
        position: absolute;
        right: 0;
        bottom: -20px;
        font-family: Arial;
        font-size: 12px;
        color: #798738;
     }
}