.box {
  position: relative;
  border: none;
  clip-path: polygon(
    0 0,
    100% 0,
    100% 100%,
    80% 100%,
    var(--size-corner) 100%,
    0 calc(100% - var(--size-corner))
  );
}

.box::before {
  content: '';
  position: absolute;
  inset: 0;
  background: var(--border-color);
  z-index: -2;
}

.box::after {
  content: '';
  background: beige;
  position: absolute;
  inset: 0;
  z-index: -1;
  clip-path: polygon(
    var(--border-width) var(--border-width),
    100% var(--border-width),
    calc(100% - var(--border-width)) var(--border-width),
    calc(100% - var(--border-width)) calc(100% - var(--border-width)),
    calc(var(--size-corner) + calc(var(--border-width) / 2))
      calc(100% - var(--border-width)),
    var(--border-width)
      calc(100% - var(--size-corner) - calc(var(--border-width) / 2))
  );
}
