
@import '../../../styles/variables.module';
@import '../../../styles/utils.module';
@font-face {
    font-family: Furore; 
    src: url('../../../fonts/Furore.woff2') format('woff'); 
    
  }

.heroSection{
  background-color: $color-ultra-light-grey;
}

.hero{   
  width: $desktop;
  position: relative;
  display: flex;
  margin: 0 auto;
  padding: 51px $section-padding 58px $section-padding;
  overflow: hidden;
}
.container{
  display: grid;
  grid-template-columns: 990px 75px;
  
}
.card{

 padding: 68px 92px 82px 95px;
position: relative;


}

.cardBorder{
  position: absolute;
  top: 0px;
  right:0px;
  pointer-events: none;
}
 
.firstHead{
  font-family: Furore;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 80px; 
  letter-spacing: 0.364px;
}

.secondHead{
    margin-top: 12px;
    font-family: Furore;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; 
    letter-spacing: 0.364px;
}

.list{
  display: grid;
  margin-top: 18px;
}
.liItem{
    display: flex;
    margin-top: 21px;
    align-items: center;
    &:first-child{
      margin-top: 0;
    }
}

.liText {
    display: block;
    font-family: Arial;
    margin-left: 28px;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
}

.li_bold_txt{
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -0.408px;
  margin-left: 5px;
  margin-right: 5px;
}
.btnList{
  margin-top: 54px;
  display: flex;
  position: relative;
}

.contact_us_col{
    display: grid;
    grid-template-rows: 65px 65px 65px 65px;
    margin-left: 54px;
    row-gap: 20px;

}


.under_txt_btn {
  font-family: inherit;
  background-color: $color-black;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-white;
  font-size: 22px;
  --size-corner: 36px;        
  width: 270px;
  height: 92px;
  border: none;
  z-index: 1000;
  clip-path: polygon(0 0,
          100% 0,
          100% 100%,
          80% 100%,
          var(--size-corner) 100%,
          0 calc(100% - var(--size-corner)));
  transition: background-color $transition-duration $timing-function;
  cursor: pointer;
  &:hover{
      background-color: $color-olive;
  }
  &:focus{
      background-color: $color-black;
      border: 3px solid var(--grey, #8B8B8B);
  }

  }

  .under_txt_btn2 {
    margin-left: 20px;
    position: relative;
    font-family: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-black;
    font-size: 22px;
    --size-corner: 36px;
    width: 361px;
    height: 93px;
    border: none;
    cursor: pointer;
    z-index: 2;
    &:hover{
        background-color: $color-olive;
        color: $color-white;
        clip-path: polygon(0 0,
          100% 0,
          100% 100%,
          80% 100%,
          var(--size-corner) 100%,
          0 calc(100% - var(--size-corner)));
    }
  }
 

.soldierImg {
    position: absolute;
    right: 83px;
    bottom: -30px;
    z-index: 2;
    pointer-events: none;

}
.svgBorder{
  stroke: currentColor;       
  position: absolute;
  top: 0;   
  right: 19%;
  z-index: 0;
  pointer-events: none;

}

.under:focus{
  outline: none;
}

.under:focus   .svgBorder{
    stroke: var(--green, #798738); 
    stroke-width: 3px;
    outline: 0;
    z-index: 1000;
}

.under:active  .svgBorder{
  stroke: var(--green, #798738); 
}




@media (min-width: $mobile) and (max-width: $desktop) {
  
  .hero{   
    width: $mobile;
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding-bottom: 142px;
  }
  .container{
    display: flex;
    flex-direction: column;
    
  }
  .card{
    position: relative;
    width: 288px;
    height: 440px;
    padding: 20px 12px;
  
  }

  .firstHead{
    color: var(--black, #231F20);
    font-family: Furore;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: normal;
  }
  
  .secondHead{
    color: var(--black, #231F20);
    font-family: Furore;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%; /* 20.25px */
  }
  
  .list{
    display: grid;
    margin-top: 18px;
  }
  .liItem{
      margin-top: 15px;
      &:first-child{
        margin-top: 0;
      }
  }
  
  .liText{
      display: block;
      margin-left: 13px;
      font-size: 13px;
      font-style: normal;
      line-height: 150%; 
  }
  
  .li_bold_txt{
    color: var(--black, #231F20);
    font-feature-settings: 'case' on;
    font-family: Arial;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
  }
  .btnList{
    margin-top: 20px;
    width: 200px;
    display: flex;
    flex-direction:column;
    flex-direction: column-reverse;
    position: relative;
  }
  

  
  .under_txt_btn {
    margin-top: 13px;
    color: $color-white;
    font-size: 13px;        
    width: 150px;
    height: 50px;
    --size-corner: 20px;
   
    }
  
    .under_txt_btn2 {
      margin-left: 0;
      position: relative;
      font-size: 13px;
      --size-corner: 20px;
      width: 200px;
      height: 50px;
      border: none;
      cursor: pointer;
      z-index: 2;
      &:hover{
          background-color: $color-olive;
          color: $color-white;
          clip-path: polygon(0 0,
            100% 0,
            100% 100%,
            80% 100%,
            var(--size-corner) 100%,
            0 calc(100% - var(--size-corner)));
      }
    }
    .under_txt_btn2:focus .svgBorder {
      stroke: var(--green, #798738); 
  }
  
  .svgBorder{
    top: 0;   
    right: 0;
  
  }

  .soldierImg {
      width: 420px;
      height: 275px;
      right: -35px;
      bottom: 4px;
    
  
  }
}
