@import '../../../styles/reset.styles';
@import '../../../styles/variables.module';
@import '../../../styles/utils.module';
@font-face {
    font-family: Furore; 
    src: url('../../../fonts/Furore.woff2') format('woff'); 
    
  }

.heroSection{
  background-color: $color-ultra-light-grey;
}

.hero{   
  width: $desktop;
  position: relative;
  display: flex;
  margin: 0 auto;
  padding: 51px $section-padding 58px $section-padding;
  overflow: hidden;
}
.container{
  display: grid;
  grid-template-columns: 990px 75px;
  
}
.card{

 padding: 68px 92px 82px 95px;
  position: relative;


}

.card-border{
  position: absolute;
  top: 0px;
  right:0px;
  pointer-events: none;
}

.cardContent{
  position: absolute;
  top: 0;
}
.firstHead{
  font-family: Furore;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 80px; 
  letter-spacing: 0.364px;
}

.secondHead{
    margin-top: 12px;
    font-family: Furore;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; 
    letter-spacing: 0.364px;
}

.list{
  display: grid;
  margin-top: 18px;
}
.li-item{
    display: flex;
    margin-top: 21px;
    align-items: center;
    &:first-child{
      margin-top: 0;
    }
}

.li-txt{
    display: block;
    font-family: Arial;
    margin-left: 28px;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    width: 100%;
}

.li-bold-txt{
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -0.408px;
  padding: 0 5px;
}
.btnList{
  margin-top: 65px;
  display: flex;
}

.contact-us-col{
    display: grid;
    grid-template-rows: 65px 65px 65px;
    margin-left: 54px;
    row-gap: 20px;
}


.under-txt-btn {
  font-family: inherit;
  background-color: $color-black;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-white;
  font-size: 22px;
  --size-corner: 36px;
  width: 270px;
  height: 92px;
  border: none;
  clip-path: polygon(0 0,
          100% 0,
          100% 100%,
          80% 100%,
          var(--size-corner) 100%,
          0 calc(100% - var(--size-corner)));
  transition: background-color $transition-duration $timing-function;
  cursor: pointer;
  &:hover{
      background-color: $color-olive;
  }
  &:active,
  &:focus{
      background-color: $color-black;
  }
  }

  .under-txt-btn2 {
    margin-left: 20px;
    font-family: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-black;
    font-size: 22px;
    --size-corner: 36px;
    width: 361px;
    height: 93px;
    border: none;
    cursor: pointer;
    z-index: 1000;
    &:hover{
        background-color: $color-olive;
        color: $color-white;
        clip-path: polygon(0 0,
          100% 0,
          100% 100%,
          80% 100%,
          var(--size-corner) 100%,
          0 calc(100% - var(--size-corner)));
    }
    &:active,
    &:focus{
        background-color: $color-black;
        color: $color-white;
        clip-path: polygon(0 0,
          100% 0,
          100% 100%,
          80% 100%,
          var(--size-corner) 100%,
          0 calc(100% - var(--size-corner)));
    }
  }

.soldierImg {
    position: absolute;
    right: 83px;
    bottom: -30px;
    z-index: 2;
    pointer-events: none;

}