@import '../../../styles/variables.module';


.svg-icon {
    stroke: currentColor;
    transition: stroke $transition-duration $timing-function;

}

.back {
    fill: currentColor; 
    transition: fill $transition-duration $timing-function;
}

.social-btn:hover .svg-icon {
    stroke: $color-olive;
}

.social-btn:hover .back {
    fill: $color-olive;
}


  .svg-border{
    position: absolute;
    right: 24.7%;
    z-index: 0;
    pointer-events: none;
  }
 