@import "../../../styles/variables.module";
@import "../../../styles/mixins.module";

@mixin filledTextStyle {
  font-family: Arial;
  font-size: 13px;
  font-weight: 700;
  line-height: 1.5;

  color: $color-black;

  @include mq(desktop) {
    font-size: 22px;
    letter-spacing: -0.408px;
  }
}

.form {
  padding: 20px 12px 30px;
  border: 1px solid $color-black;

  @include mq(desktop) {
    padding: 70px 95px 100px;
  }

  &__wrapper{
    position: relative;
    margin-bottom: 100px;
    @include mq(desktop) {
      display: flex;
      justify-content: space-between;
      margin-bottom: 60px;
    }
  }

  &__blockLeft{
    margin-bottom: 30px;

    @include mq(desktop) {
      width: 455px;
      margin-right: 20px;
      margin-bottom: 0;
    }
  }

  &__blockRight{
    position: relative;
  }

  &__field{
    position: relative;
    height: 100%;
  }

  &__input{
    width: 100%;
    padding-top: 12px;
    padding-bottom: 10px;
    border: none;
    border-bottom: 1px solid $color-black;
    @include filledTextStyle();
    
    background: transparent;

    &:focus {
      outline: none;
    }

    &:focus + .form__label,
    &:not(:placeholder-shown) + .form__label{
      font-size: 10px;
      line-height: 1.2;
      transform: translateY(-12px);

      @include mq(desktop) {
        font-size: 18px;
        line-height: 1.5;
        transform: translateY(-31px);
      }
    }

    @include mq(desktop) {
      width: 360px;
      padding-top: 32px;
    }
  }

  &__inputName{
    margin-top: 30px;
    margin-bottom: 30px;

    @include mq(desktop) {
      margin-top: 60px;
      margin-bottom: 60px;
    }
  }

  &__label{
    position: absolute;
    z-index: 10;
    top: 2px;
    left: 0;
    display: block;
    @include filledTextStyle();

    color: $color-grey;

    transform: translateY(0);
    transition: transform $transition-duration $timing-function;

    @include mq(desktop) {
      top: -7px;
    }
  }

  &__labelTextarea{
    top: -12px;

    @include mq(desktop) {
      top: -29px;
    }
  }

  &__textarea{
    height: 42px;
    min-height: 42px;
    max-height: 111px;
    padding-top: 0;
    overflow-y: auto;
    @include filledTextStyle();

    @include mq(desktop) {
      width: 455px;
      height: 76px;
      min-height: 76px;
      max-height: 348px;
    }
  }

  &__textarea::-webkit-resizer{
    display: none;
  }

  &__textarea::-webkit-scrollbar-thumb{
    cursor: pointer;
    background-color: $color-green;
  }

  &__btnWrapper{
    display: flex;
    justify-content: center;

    @include mq(desktop) {
      justify-content: end;
    }
  }

  & &__btn {
    margin: 0 auto;

    &:disabled{
      color: $color-ultra-light-grey;
      background-color: $color-light-grey;
      border-color: transparent;
    }

    @include mq(desktop) {
      min-width: 272px;
      margin: 0 0 0 auto;
    }
  }

  &__spinner{
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 8px;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 3px solid $color-ultra-light-grey;
      border-radius: 50%;
      border-top-color: $color-grey;
      animation: spin 1s linear infinite;
    }

    @include mq(desktop) {
      width: 44px;
      height: 44px;
      margin-right: 12px;
    }
  }
}

.form__textarea::-webkit-scrollbar {
  width: 5px;
  height: 50px;
  @include mq(desktop) {
    width: 8px;
    height: 123px;
  }
}

// .form__textarea::-webkit-scrollbar-thumb {
//   cursor: pointer;
//   background-color: $color-green;
// }
@keyframes spin{
  0% {
    transform: rotate(0deg);
  }
  0% {
    transform: rotate(360deg);
  }
}
