@import "../../../styles/variables.module";
@import "../../../styles/mixins.module";

@mixin filledTextStyle {
  font-family: Arial;
  font-size: 13px;
  font-weight: 700;
  line-height: 1.5;

  color: $color-black;

  @include mq(desktop) {
    font-size: 22px;
    letter-spacing: -0.408px;
  }
}

.form {
  padding: 20px 12px 30px;
  border: 1px solid $color-black;

  @include mq(desktop) {
    padding: 70px 95px 100px;
  }

  &__wrapper{
    margin-bottom: 100px;
    @include mq(desktop) {
      display: flex;
      justify-content: space-between;
      margin-bottom: 60px;
    }
  }

  &__blockLeft{
    margin-bottom: 30px;

    @include mq(desktop) {
      margin-bottom: 0;
    }
  }

  &__input{
    width: 100%;
    padding-top: 12px;
    padding-bottom: 10px;
    border: none;
    border-bottom: 1px solid $color-black;
    @include filledTextStyle();
    
    background: transparent;

    ::placeholder {
      color: $color-grey;
    }

    &:focus {
      outline: none;
    }

    @include mq(desktop) {
      width: 360px;
      padding-top: 32px;
    }
  }

  &__inputName{
    margin-top: 30px;
    margin-bottom: 30px;

    @include mq(desktop) {
      margin-top: 60px;
      margin-bottom: 60px;
    }
  }

  &__textarea{
    height: 42px;
    @include filledTextStyle();

    @include mq(desktop) {
      width: 455px;
      height: 76px;
    }
  }

  button {
    display: block;
    margin: 0 auto;

    @include mq(desktop) {
      min-width: 272px;
      margin: 0 0 0 auto;
    }
  }
}

.form__textarea{
  scrollbar-color: $color-olive;
}

.form__textarea::-webkit-scrollbar {
  width: 5px;
  @include mq(desktop) {
    width: 8px;
  }
}

.form__textarea::-webkit-scrollbar-corner{
  display: none;
}

.form__textarea::-webkit-resizer{
  display: none;
}

.form__textarea::-webkit-scrollbar-thumb {
background-color: $color-olive;
outline: none;
}
