@import '../../../styles/variables.module';
@import '../../../styles/utils.module';
@import '../../../styles/_mixins.module';

.heroSection{
  background-color: $color-ultra-light-grey;
}

.hero{   
  width: $mobile;
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding-top: 20px;
  padding-bottom: 142px;
  margin: 0 auto;
  overflow: hidden;

  @include mq(desktop) {
    width: $desktop;
    justify-content: left;
    padding: 20px $section-padding 58px;
  }
}

.container{
  display: flex;
  flex-direction: column;

  @include mq(desktop) {
    display: grid;
    grid-template-columns: 990px 75px;
  }
}

.card{
  position: relative;
  width: 288px;
  height: 440px;
  padding: 20px 12px;

  @include mq(desktop) {
    width: 100%;
    height: 100%;
    padding: 68px 92px 82px 95px;
  }
}

.cardBorder{
  position: absolute;
  top: 0px;
  right:0px;
  pointer-events: none;
}
 
.firstHead{
  font-size: 30px;
  font-weight: 400;
  letter-spacing: normal;

  @include mq(desktop) {
    font-size: 64px;
    line-height: 80px;
    letter-spacing: 0.364px;
  }
}

.secondHead{
  margin-top: 12px;
  font-size: 15px;
  font-weight: 400;
  line-height: 135%;

  @include mq(desktop) {
    font-size: 48px;
    line-height: 50px;
    letter-spacing: 0.364px;
  }
}

.list{
  display: grid;
  margin-top: 18px;
}

.liItem{
  display: grid;
  grid-template-columns: 30px 233px;
  align-items: center;
  margin-top: 15px;
  
  &:first-child {
    margin-top: 0;
  }
  
  &:last-child {
    grid-template-columns: 30px 245px;
  }

  @include mq(desktop) {
    display: flex;
    margin-top: 21px;
  }
}

.liText {
  display: block;
  width: 224px;
  margin-left: 0;
  font-family: Arial;
  font-size: 13px;
  line-height: 150%;

  @include mq(desktop) {
    width: 100%;
    margin-left: 28px;
    font-size: 18px;
    line-height: 27px;
  }  
}

.li_bold_txt{
  font-feature-settings: 'case' on;
  font-family: Arial;
  font-weight: 700;
  line-height: 150%;
  margin: 0;

  @include mq(desktop) {
    line-height: 28px;
    letter-spacing: -0.408px;
  }
}

.btnList{
  margin-top: 20px;
  width: 200px;
  display: flex;
  flex-direction: column-reverse;
  position: relative;

  @include mq(desktop) {
    flex-direction: row;
    width: 100%;
    margin-top: 54px;
  }
}

.transfer br {
  display: block;
  content: "";
  margin: 0;
  padding: 0;
}

.contact_us_col{
  display: grid;
  grid-template-rows: 65px 65px 65px 65px;
  margin-left: 54px;
  row-gap: 20px;
}

.under_txt_btn {
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 13px;
  font-family: inherit;
  font-size: 13px;
  width: 150px;
  height: 50px;
  --size-corner: 20px;
  color: $color-white;
  background-color: $color-black;
  @include cutBtn;
  
  @include mq(desktop) {
    margin-top: 0;  
    width: 270px;
    height: 92px;
    font-size: 22px;
    --size-corner: 36px;
    
    &:not(:active) {
      background-color: $color-black;
    }
  }
}

.under_txt_btn2 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0;
  font-family: inherit;
  font-size: 13px;
  --size-corner: 20px;
  width: 200px;
  height: 50px;
  border: none;
  cursor: pointer;
  z-index: 2;
  color: $color-black;

  @include mq(desktop) {
    margin-left: 20px;
    --size-corner: 36px;
    width: 361px;
    height: 93px;
    font-size: 22px;
  }
  
  &:hover{
    background-color: $color-olive;
    color: $color-white;
    clip-path: polygon(0 0,
      100% 0,
      100% 100%,
      80% 100%,
      var(--size-corner) 100%,
      0 calc(100% - var(--size-corner)));
  }
}
 
.soldierImg {
  position: absolute;
  z-index: 2;
  pointer-events: none;
  right: -35px;
  bottom: 0;

  @include mq(desktop) {
    right: 83px;
    bottom: -30px;  
    width: 796px;
    height: 523px;
  }
}

.svgBorder{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
  pointer-events: none;
  stroke: currentColor;

  @include mq(desktop) {
    top: 0;
    right: 19%;
  }
}

.under:focus{
  outline: none;
}

.under:focus   .svgBorder{
  stroke: var(--green, #798738); 
  stroke-width: 3px;
  outline: 0;
  z-index: 1000;
}

.under:active  .svgBorder{
  stroke: var(--green, #798738); 
}

.under_txt_btn2:focus .svgBorder {
  stroke: var(--green, #798738);
}