@import "../../styles/variables.module";

.section {
	padding-top: 20px;
	padding-bottom: 50px;

	@media screen and (min-width: $desktop) {
		padding-top: 80px;
		padding-bottom: 100px;
	}
}

.container {
	width: $mobile;
	padding-left: $section-padding-mob;
	padding-right: $section-padding-mob;
	margin: 0 auto;

	@media screen and (min-width: $desktop) {
		width: $desktop;
		padding-left: $section-padding;
		padding-right: $section-padding;
	}
}

.NotFoundWrapper {
	display: flex;

	@media screen and (min-width: $mobile) and (max-width: 1279.5px) {
		flex-direction: column;
		margin-bottom: 15px;
	}

	@media screen and (min-width: $desktop) {
		margin-bottom: 20px;
	}
}

.btnBackWrapper {
	position: relative;

	&:focus {
		outline: none;
		stroke-width: 3px;
		color: $color-olive;
	}

	@media screen and (min-width: $mobile) and (max-width: 1279.5px) {
		margin-bottom: 30px;
	}

	@media screen and (min-width: $desktop) {
		margin-right: 20px;
	}
}

.btnBack {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	color: $color-black;
	border: none;
	clip-path: polygon(0 0, 100% 0, 100% 100%, 80% 100%, var(--size-corner) 100%, 0 calc(100% - var(--size-corner)));
	transition:
		color $transition-duration $timing-function,
		background-color $transition-duration $timing-function;
	cursor: pointer;

	&:hover {
		color: $color-white;
		background-color: $color-olive;
	}

	&:active {
		color: inherit;
		background-color: transparent;
	}

	@media screen and (min-width: $mobile) and (max-width: 1279.5px) {
		width: 150px;
		height: 50px;
		padding: 12px 34px;
		font-size: 13px;
		line-height: 1.35;
		--size-corner: 19px;
	}

	@media screen and (min-width: $desktop) {
		width: 170px;
		height: 92px;
		padding: 26px 16px;
		font-size: 22px;
		line-height: normal;
		--size-corner: 36px;
	}
}

.errorWrapper {
	position: relative;
}

.imgWrapper {
	position: absolute;
	top: 0;
	left: 0;

	@media screen and (min-width: $mobile) and (max-width: 1279.5px) {
		padding: 24px 32px 8px 31px;
	}

	@media screen and (min-width: $desktop) {
		padding: 64px 72px 28px 73px;
	}
}

.img {
	@media screen and (min-width: $mobile) and (max-width: 1279.5px) {
		width: 225px;
		height: 92px;
	}
}

.title {
	// text-align: center;
	display: flex;
	justify-content: center;

	@media screen and (min-width: $mobile) and (max-width: 1279.5px) {
		font-size: 15px;
		line-height: 1.35;
		margin-top: 8px;
	}

	@media screen and (min-width: $desktop) {
		font-size: 28px;
		line-height: 1.21;
		letter-spacing: 0.35px;
		margin-top: 32px;
	}
}

.descrWrapper {
	display: flex;
	align-items: center;
	justify-content: center;

	@media screen and (min-width: $mobile) and (max-width: 1279.5px) {
		margin-bottom: 50px;
	}

	@media screen and (min-width: $desktop) {
		margin-bottom: 60px;
	}
}

.fourOhFour {
	display: flex;
	justify-content: center;
	align-items: center;

	@media screen and (min-width: $mobile) and (max-width: 1279.5px) {
		font-size: 13px;
		line-height: normal;
		margin-right: 12px;

		&::before {
			content: "";
			display: inline-block;
			width: 9px;
			height: 34px;
			background-image: url("../../../../public/404/border-left-mobile.svg");
		}

		&::after {
			content: "";
			display: inline-block;
			width: 9px;
			height: 34px;
			background-image: url("../../../../public/404/border-right-mobile.svg");
		}
	}

	@media screen and (min-width: $desktop) {
		font-size: 18px;
		line-height: 1.5;
		margin-right: 32px;

		&::before {
			content: "";
			display: inline-block;
			width: 14px;
			height: 52px;
			background-image: url("../../../../public/404/border-left.svg");
		}

		&::after {
			content: "";
			display: inline-block;
			width: 14px;
			height: 52px;
			background-image: url("../../../../public/404/border-right.svg");
		}
	}
}

.descr {
	font-family: Arial;
	line-height: 1.5;

	@media screen and (min-width: $mobile) and (max-width: 1279.5px) {
		max-width: 154px;
		font-size: 13px;
	}

	@media screen and (min-width: $desktop) {
		max-width: 360px;
		font-size: 22px;
		letter-spacing: -0.408px;
	}
}

.btnGoHomeWrapper {
	position: relative;
	margin: 0 auto;

	&:focus {
		outline: none;
		stroke-width: 3px;
		color: $color-grey;
	}

	@media screen and (min-width: $mobile) and (max-width: 1279.5px) {
		width: 100%;
	}

	@media screen and (min-width: $desktop) {
		max-width: 360px;
	}
}

.goHome {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	color: $color-white;
	border: none;
	clip-path: polygon(0 0, 100% 0, 100% 100%, 80% 100%, var(--size-corner) 100%, 0 calc(100% - var(--size-corner)));
	transition: background-color $transition-duration $timing-function;
	cursor: pointer;
	margin: 0 auto;

	&:hover {
		background-color: $color-olive;
	}

	&:active {
		background-color: transparent;
	}

	@media screen and (min-width: $mobile) and (max-width: 1279.5px) {
		width: 288px;
		height: 50px;
		font-size: 15px;
		--size-corner: 19px;
	}

	@media screen and (min-width: $desktop) {
		width: 360px;
		height: 92px;
		font-size: 22px;
		--size-corner: 35px;
	}
}
