@import "../../../../styles/variables.module";

.rightTop {
	position: absolute;
	top: 0;
	right: 0;
}

.rightBottom {
	position: absolute;
	bottom: 0;
	right: 0;
}

.leftTop {
	position: absolute;
	top: 0;
	left: 0;
}

.leftBottom {
	position: absolute;
	bottom: 0;
	left: 0;
}

.review {
	position: relative;
	display: flex;

	@media screen and (min-width: $mobile) and (max-width: 1279.98px) {
		height: 482px;
		flex-direction: column;
		flex-basis: 224px;
		padding-top: 20px;
		padding-bottom: 16px;
		padding-right: 32px;
		padding-left: 32px;
	}

	@media screen and (min-width: $desktop) {
		height: 392px;
		padding-top: 24px;
		padding-bottom: 42px;
	}
}

.reviewImg {
	object-fit: cover;

	@media screen and (min-width: $mobile) and (max-width: 1279.98px) {
		width: 132px;
		height: 120px;
		margin: 0 auto;
		margin-bottom: 20px;
	}

	@media screen and (min-width: $desktop) {
		margin-left: 83px;
	}
}

.reviewWrapper {
	@media screen and (min-width: $mobile) and (max-width: 1279.98px) {
		width: 223px;
	}

	@media screen and (min-width: $desktop) {
		margin-left: 20px;
		margin-right: 86px;
	}
}

.reviewText {
	font-family: Arial;

	@media screen and (min-width: $mobile) and (max-width: 1279.98px) {
		font-size: 12px;
		font-weight: 400;
		line-height: 1.33;
		margin-bottom: 12px;
	}

	@media screen and (min-width: $desktop) {
		width: 569px;
		font-size: 18px;
		line-height: 1.5;
		margin-bottom: 32px;
	}
}

.authorName {
	line-height: 1.5;

	@media screen and (min-width: $mobile) and (max-width: 1279.98px) {
		font-family: Arial;
		font-size: 13px;
		font-weight: 700;
		margin-bottom: 6px;
	}

	@media screen and (min-width: $desktop) {
		font-size: 18px;
		margin-bottom: 8px;
	}
}

.authorProfession {
	font-family: Arial;
	color: $color-black;

	@media screen and (min-width: $mobile) and (max-width: 1279.98px) {
		font-size: 12px;
		line-height: 1.33;
	}

	@media screen and (min-width: $desktop) {
		font-weight: 700;
		width: 326px;
		font-size: 13px;
		line-height: 1.53;
	}
}
