@import '../../../styles/variables.module';

.mediaList{
    @media screen and (min-width: $desktop) {
        display: flex;
        flex-wrap: wrap;
        margin: -16px -10px;
    }
}
.mediaCard{
    display: flex;
    align-items: center;
    width: 100%;
    border: 1px solid $color-black;
    padding: 35px 34px 35px 10px;
    
    @media screen and (max-width: $desktop) {
        &:not(:last-child) {
            margin-bottom: 20px;
        }
     }
    @media screen and (min-width: $desktop) {
        width: 360px;
        padding: 40px 22px 40px 30px;
        margin: 16px 10px;
     }
}
.mediaLogoWrap{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    flex-shrink: 0;
    padding: 10px;
    @media screen and (min-width: $desktop) {
        width: 110px;
        height: 110px;
    }
}
.mediaContent{
    display: flex;
    flex-direction: column;
    margin-left: 19px;
    overflow: hidden;
    @media screen and (min-width: $desktop) {
        margin-left: 28px;
        width: 167px;
    }
}
.mediaDesc{
    color: $color-black;
    font-family: Arial;
    font-size: 13px;
    line-height: 150%;
    height: 60px;
    margin-bottom: 20px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    white-space: pre-wrap;
    @media screen and (min-width: $desktop) {
        font-size: 18px;
        line-height: 27px;
        height: 81px;
        margin-bottom: 30px;

    }
}
.btnReadMore{
    border: none;
    display: flex;
    height: 35px;
    padding: 12px;
    justify-content: center;
    align-items: center;
    background-color: $color-olive;
    color: $color-white-text;
    text-wrap: nowrap;
    font-size: 10px;
    outline: none;
    cursor: pointer;
    transition: background-color $transition-duration $timing-function, color $transition-duration $timing-function;
    &:active {
        background-color: $color-green;
        color: $color-black;
    }
    @media screen and (min-width: $desktop) {
        height: 50px;
        padding: 16px;
        font-size: 16px;

        &:hover {
            background-color: $color-green;
            color: $color-black;
        }
    
        &:active {
            background-color: $color-olive;
            color: $color-white-text;
        }
    
        &:focus:not(:active) {
            border: 3px solid $color-black;
        }
    }
   
}
