@import "../../styles/variables.module";

.conditionsSection {
  max-width: $desktop;
  margin: 0 auto;
}

.conditions {
  max-width: 915px;
  padding: 84px 0 100px 80px;
}

.headerArea {
  max-width: 570px;
  max-height: 160px;
  padding-bottom: 12px;
}

.header {
  font-size: 64px;
  font-weight: 400;
  letter-spacing: 0.36399999260902405px;
  text-align: left;
}

.dateArea {
  padding-bottom: 32px;
}

.date {
  font-family: Arial;
  font-size: 15px;
}

.textArea {
  max-width: 835px;
}

.text,
.donationSecondParagraph,
.changesSecondParagraph,
.contactUsSecondParagraph {
  font-family: Arial;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0px;
  text-align: left;
  padding-bottom: 24px;
}

.titleArea {
  padding-bottom: 12px;
}

.donationFirstParagraph,
.changesFirstParagraph,
.contactUsFirstParagraph {
  font-family: Arial;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0px;
}

.listText {
  list-style-type: disc;
  font-family: Arial;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0px;
  margin-left: 20px;
}

@media (max-width: 1279.5px) {
  .conditionsSection {
    width: $mobile;
    padding: 20px $section-padding-mob 0 $section-padding-mob;
  }

  .conditions {
    padding: 0 0 50px 0;
  }

  .header {
    font-size: 27px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
  }

  .headerArea {
    padding-bottom: 30px;
  }

  .dateArea {
    padding: 0;
  }

  .date {
    font-size: 13px;
  }

  .text,
  .donationSecondParagraph,
  .changesSecondParagraph,
  .contactUsSecondParagraph,
  .donationFirstParagraph,
  .changesFirstParagraph,
  .contactUsFirstParagraph,
  .listText {
    font-size: 13px;
    padding: 0px;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    padding-bottom: 5px;
  }

  .titleArea {
    padding: 25px 0 5px 0;
  }
}
