
@import '../../../styles/variables.module';
@import '../../../styles/utils.module';


  .ourProjects{
    margin: 0 auto;
    padding: 80px 0 160px 0; 
  }
  
  .ourProjectsContainer{
    margin: 0 auto;
    width: $desktop;
  }

  .head{
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    color: var(--black, #231F20);
  }

  .our_projects_card{
    margin-left: 21px;
    width: 360px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-items: center;
    &:first-child{
      margin-left: 0;
    }

    
}

.imageContainer{
  width: 360px;
  height: 205px;
  overflow: hidden;
}


.cardImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
  
  .wraper{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    
    
  }

  .textCont{
    display: flex;
    height: calc(720px - 205px);
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: 24px 16px 24px 16px;

  }

  .cardHead{
    color: var(--black, #171717);
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px; /* 121.429% */
    letter-spacing: 0.35px;
  }

  .cardText{
    position: relative;
    width: 287px;
    color: var(--grey, #8B8B8B);
    margin-top: 16px;
    text-align: center;
    font-family: Arial;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    
  }

  .cardText2{
    width: 287px;
    color: var(--grey, #8B8B8B);
    margin-top: 16px;
    text-align: center;
    font-family: Arial;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    
  }

  .cardButton {
    position: absolute;
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%);
    justify-self: end;
    display: flex;
    padding: 16px 38px;
    font-family: inherit;
    font-size: 16px;
    justify-content: center;
    width: 208px;
    border: 3px solid transparent;
    color: $color-white-text;
    background-color: $color-olive;
    cursor: pointer;
    transition: all $transition-duration $timing-function;
    &:hover{
      background-color: $color-green;
      color: var(--black, #231F20);
    }
    &:active,
    &:focus {
      border: 3px solid var(--black, #231F20);
      outline: none;
    }
   
  }

  @media (min-width: $mobile) and (max-width: 1279.5px){

    .ourProjects{
      padding-top: 0;
      padding-bottom: 20px;
    }

    .ourProjectsContainer{
      margin: 0 auto;
      width: $mobile;
      padding: 0 16px;
    }
    

    .imageContainer{
      width: 288px;
      overflow: hidden;
      
    }
    
    .head{
      width: 200px;
      font-size: 30px;
      text-align: left;
      margin-bottom: 30px;

    }
  
    .our_projects_card{
      display: flex;
      width: 288px;
      height: 612px;
      align-items: center;
      flex-direction: column;
      padding-bottom:45px;
  }
    
  
    .wraper{
      margin-top: 30px;
     
      
    }
  
    .card-svg{
     position: absolute;
     pointer-events: none;
    
    }
    .textCont{
      position: relative;
      padding: 20px 40px 24px 36px;
      height: calc(612px - 205px);
  
    }
 
  
    .cardHead{
      margin-top: 0;
      font-size: 20px;
      line-height: normal;
    }
  
    .cardText{
      width: 217px;
      margin-top: 50px;
      font-size: 13px;
      line-height: 150%;
  
    }

    .cardText2{

      font-size: 13px;
      line-height: 150%;
  
    }
  
    .cardButton {
      position: absolute;
      width: 130px;
      padding: 12px;
      justify-content: center;
      align-items: center;
      font-size: 10px;
      line-height: normal;
    }

  }
  
.anchor {
  display: block;
  height: 60px;
  margin-top: -60px;
  visibility: hidden;

  @media screen and (min-width: $desktop) {
    height: 35px;
    margin-top: -35px;
  }
}