@import '../../../styles/variables.module';

.mediaList{
    @media screen and (min-width: $desktop) {
        display: flex;
        flex-wrap: wrap;
        margin: -10px;
    }
}
.mediaCard{
    display: flex;
    align-items: center;
    width: 100%;
    border: 1px solid $color-black;
    padding: 30px 14px;
    
    @media screen and (max-width: $desktop) {
        height: 275px;
        &:not(:last-child) {
            margin-bottom: 20px;
        }
     }
    @media screen and (min-width: $desktop) {
        width: calc((100% - 40px)/ 2);
        height: 254px;
        padding: 32px;
        margin: 10px;
     }
}
.mediaLogoWrap{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    flex-shrink: 0;
    padding: 10px;
    @media screen and (min-width: $desktop) {
        width: 110px;
        height: 110px;
    }
}
.mediaContent{
    display: flex;
    flex-direction: column;
    margin-left: 19px;
    overflow: hidden;
    height: 100%;
    justify-content: space-between;
    @media screen and (min-width: $desktop) {
        align-items: flex-end;
        margin-left: 32px;
        width: 100%;
    }
}
.mediaDesc{
    color: $color-black;
    font-family: Arial;
    font-size: 13px;
    line-height: 150%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 8;
    white-space: pre-wrap;
    @media screen and (min-width: $desktop) {
        font-size: 15px;
        line-height: 23px;
        -webkit-line-clamp: 5;
    }
}
.btnReadMore{
    border: none;
    display: flex;
    height: 35px;
    padding: 12px;
    justify-content: center;
    align-items: center;
    background-color: $color-olive;
    color: $color-white-text;
    text-wrap: nowrap;
    font-size: 10px;
    outline: none;
    cursor: pointer;
    transition: background-color $transition-duration $timing-function, color $transition-duration $timing-function;
    &:active {
        background-color: $color-green;
        color: $color-black;
    }
    @media screen and (min-width: $desktop) {
        height: 50px;
        width: 167px;;
        padding: 16px;
        font-size: 16px;
        &:hover {
            background-color: $color-green;
            color: $color-black;
        }
    
        &:active {
            background-color: $color-olive;
            color: $color-white-text;
        }
    
        &:focus:not(:active) {
            border: 3px solid $color-black;
        }
    }
   
}
