@import '../../../styles/variables.module';
@import '../../../styles/mixins.module';

.footer{
    background-color: $color-black;

    &__container {
        overflow: hidden;
        position: relative;
        width: $mobile;
        margin: 0 auto;
        padding: 0 0 27px;
    
        @include mq(desktop) {
            width: $desktop;
            padding: 10px 50px 62px;
            display: flex;

            color: $color-white;
        }
    }

    &__logo{
        display: block;
        margin: 0 auto;
        margin-top: -20px;

        @include mq(desktop) {
            margin: 0 325px 0 0;
        }
    }

    &__title {
        margin-bottom: 20px;

        text-align: left;
        font-size: 15px;
        font-weight: 400;
        line-height: normal;

        color: $color-green;

        @include mq(desktop) {
            margin-bottom: 30px;

            font-size: 28px;
        } 
    }      
    
    &__follows{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;

        @include mq(desktop) {
            align-items: start;
            padding-top: 58px;
            margin-bottom: 0;
        }
    }
}

.menu {
    display: none;

    @include mq(desktop) {
        display: flex;
        flex-direction: column;
        width: 208px;
        padding-top: 58px;
        margin-right: 171px;
    }

    &__list {
        @include mq(desktop) {
            display: flex;
            flex-direction: column;
        }
    }

    &__item {
        font-size: 18px;
        line-height: normal;
        letter-spacing: 0.35px;
    
        &:not(:last-child) {
            margin-bottom: 28px;
        }
    }

    &__link {
        transition: color $transition-duration $timing-function;
    
        &:hover,
        &:focus {
            color: $color-grey;
            outline: none;
        }
    }
}

.contacts{
    margin-bottom: 30px;

    @include mq(desktop) {
        margin-bottom: 67px;
    }
     
    &__item{
        &:not(:last-child) {
                margin-bottom: 20px;
            }

        @include mq(desktop) {
            &:not(:last-child) {
                margin-bottom: 29px;
            }
        }
    }

    &__link{
        display: flex;
        align-items: center;

        font-family: Arial;
        font-size: 13px;
        font-weight: 400;
        line-height: 1.5;
        
        color: $color-white;

        transition: color $transition-duration $timing-function;
        
        &:hover,
        &:focus { 
            color: $color-grey;
            outline: none;
        }

        @include mq(desktop) {
            font-size: 18px;
        }
    }  
    
    &__icon{
        display: inline-block;
        fill: currentColor;
        margin-right: 10px;

        @include mq(desktop) {
           width: 22px;
           height: 22px;
           margin-right: 15px;
        }
    }
}

.social{
    &__title{
        margin-bottom: 30px; 

        @include mq(desktop) {
            margin-bottom: 38px;
        }
    }

    &__list{
        display: flex;
        align-items: center;
    }

    &__item{
        &:not(:last-child) {
            margin-right: 30px;
        }

        @include mq(desktop) {
            &:not(:last-child) {
                margin-right: 38px;
            }
        }

    }

    &__link{
        display: inline-block;
        border: 1px solid transparent;
        color: $color-white;

        transition: color $transition-duration $timing-function;

        &:hover{
            color: $color-olive;
            outline: none;
            border: 1px solid $color-olive;
        }

        &:focus{
            outline: none;
            border: 1px solid $color-olive;
        }
    }

    &__icon{
        display: inline-block;
        fill: currentColor;

        @include mq(desktop) {
            width: 20px;
            height: 20px;
        }

    }
}

.policy {
    display: flex;
    justify-content: center;
    align-items: center;

    color: $color-light-grey;

    @include mq(desktop) {
        position: absolute;
        bottom: 62px;
        left: 80px;
    }

    &__baza {
        font-family: Arial;
        font-size: 7px;
        font-weight: 400;
        line-height: normal;

        &:focus{
            outline: none;
        }

        @include mq(desktop) {
            font-size: 15px;
        }
    }

    &__divider {
        display: inline-block;
        width: 1px;
        height: 11px;
        margin: 0 5px;

        background-color: $color-white-text;

        @include mq(desktop) {
            height: 17px;
            margin: 0 13px;
        }
    }

    &__link {
        font-family: Arial;
        font-size: 8px;
        font-weight: 700;
        line-height: normal;

        transition: color $transition-duration $timing-function;
        
        &:hover,
        &:focus {
            outline: none;
            color: $color-green;
        }    

        @include mq(desktop) {
            font-size: 18px;
            line-height: 1.5;
        }
    }
}




