@import '../../../styles/variables.module';

.footer{
    width: 100%;
    height: 437px;
    background-color: $color-black;
}
.footerContainer{
    width: $desktop;
    margin: 0 auto;
    color: $color-white;
    position: relative;
    padding: 10px 62px 68px 50px;
}

.companyBlock{
    display: flex;
    justify-content: space-between;
    
}

.footerLogo{
    margin-right: 235px;
}



.menu{
    display: flex;
    flex-direction: column;
    width: 284px;
    padding-top: 70px;
}
.title{
    color: $color-green;
    font-size: 28px;
    padding-bottom: 32px;
    font-weight: 400;
  }

.contactsBlock{
    margin-bottom: 36px;
}

.list{
    display: flex;
    flex-direction: column;
    :last-child{
        margin-bottom: 0;
    }
}

.list li{
    font-size: 18px;
    margin-bottom: 26px;
    transition: color $transition-duration $timing-function;
}

.list li:hover{
    color: $color-grey;
}






.contactsFollowsBlock{
    display: flex;
    flex-direction: column;
    width: 284px;
    padding-top: 70px;
    margin-right: 43px;
}

.contacts p{
    display: flex;
    margin-bottom: 34px;
    font-family: Arial;
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
}

.contactLink{
    margin-left: 16px;
    transition: color $transition-duration $timing-function;

}

.contactLink:hover{
    color: $color-grey;

}

.followsIcons{
    display: flex;
    margin-top: 5px;
    :last-child{
        margin-right: 0;
    }

}

.followsIcons img{
    margin-right: 38px;
    cursor: pointer;
    transition: color $transition-duration $timing-function;
}

.followsIcons img:hover{
    fill: $color-olive;
}

.developerBlock{
    position: absolute;
    bottom: 67px;
    left: 80px;
    font-family: Arial;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


@media (min-width: 320px) and (max-width: 425px) {

.footer{
    height: 419px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.companyBlock{
    flex-direction: column;
    align-items: center;
}

.menu{
    display: none;
}

.contactsFollowsBlock {
    display: flex;
    flex-direction: column;
    width: 142px;
    padding-top: 0;
    margin-right: 0;
}

.contactsBlock h2{
    font-size: 15px;
    padding-bottom: 23px;
}

.followsBlock h2{
    font-size: 15px;
}


.contacts p{
    margin-bottom: 20px;
    font-size: 13px;
}

.contacts img{
    width: 13px;
}

.contactLink{
    margin-left: 11px;
}

.contacts p {
    margin-bottom: 25px;
    font-size: 13px;
}

.contactsBlock {
    margin-bottom: 9px;
}

.followsIcons{
    width: 15px;
    height: 15px;
    margin-top: 0;

    :first-child{
        width: 7px;
    }
}

.followsIcons img{
    margin-right: 30px;
}

.developerBlock{
    position: static;
    font-family: Arial;
    font-size: 7px;
    margin-top: 49px;
}
}

@media (min-width: 890px) and (max-width: 1024px) {
    .footerLogo{
        margin-right: 0;
        padding: 0;
    }
}

@media (min-width: 610px) and (max-width: 889px) {
    .footerLogo{
        margin-right: 0;
        padding: 0;
    }

    .developerBlock{
        left: 20px;
        bottom: 10px;
    }

    .contactsFollowsBlock{
        margin-right: 0;
    }
}

@media (min-width: 426px) and (max-width: 609px) {
    .footerLogo{
        height: 130px;
        margin-right: 0;
        padding: 0;
    }

    .developerBlock{
        left: 20px;
        bottom: 10px;
        font-size: 10px;
    }

    .contactsFollowsBlock{
        margin-right: 0;
    }
    .menu{
        display: none;
    }

}
