@import '../../../styles/variables.module';
@import '../../../styles/utils.module';
@import '../../../styles/mixins.module';


.pageContainer {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
}

.sectionWrap{
    width: $desktop;
    margin: 0 auto;
    padding: 100px $section-padding 100px;
}

.descWrap{
    display: flex;
    width: $desktop;
}

.supportText {
font-family: Arial;
font-size: 18px;
line-height: 27px;
color: $color-black;
width: 360px;
}

.title{
    height: 51px;
    margin-right: 80px;
    color: $color-black;
    font-family: inherit; 
    font-size: 48px; 
    font-weight: 400; 
    line-height: 50px; 
    letter-spacing: 0.36399999260902405px;
    text-align: left;
    color: $color-black;
}

.arrowIcon{
    margin-top: 30px;
}


.linkArea {
    width: $desktop;
    display: flex;
    flex-direction: row;
    padding-left: 191px;
}

.linkButtons {
    text-decoration: none; 
    margin-right: 20px;
    height: 92px;
    width: 359px;
    display: flex;
    align-items: center;
    background-color: $color-black;
    color: $color-ultra-light-grey;
    font-size: 22px;
    --size-corner: 36px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 80% 100%, var(--size-corner) 100%, 0 calc(100% - var(--size-corner)));
    cursor: pointer;
    @include cutBtn(); 
}

.paypallBtnIcon {
    margin: 28px 29px 28px 92px;
}

.buymeacoffeeBtnIcon {
    margin: 25px 28px 28px 56px;
}

.bankDetails {
    position: relative;
    width: 739px;
    height: 373px;
    padding: 57px 0 58px 131px;
    margin: 40px 271px 0px 191px; 
}

.cardSVG{
    position: absolute;
    top: 0px;
    right:0px;
    pointer-events: none;
  }

.bankDetailstitle {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0px;
}

.bankDetailsText {
    font-family: Arial;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0px;
    text-align: left;
    padding-top: 24px;
    color: $color-black;
}
.textMobile {
    display: none;
}
.firstParagraphTextMobile {
    display: none;
}

@media (max-width: 1279.5px) {
    .pageContainer {
        width: $mobile;
        padding: 50px $section-padding-mob 50px $section-padding-mob;
        max-height: none;
        flex-direction: column;
        margin: 0 auto;
    }
    .sectionWrap{
        width: $mobile;
        margin: 0;
        padding: 0 $section-padding-mob 0 $section-padding-mob;
    }
    .descWrap{
        display: flex;
        flex-direction: column;
        width: $mobile;
        margin: 0px;
    }
    .linkArea {
        width: $mobile;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;
        padding: 0;
    }
    .arrowIcon {
        display: none;
    }
    .title{
        margin-bottom: -20px;
        font-size: 30px;
        font-weight: 400;
        line-height: 36px;
        letter-spacing: 0px;
        text-align: left;
    }
    .supportText {
        max-width: 288px;
        margin-top: 10px;
        margin-bottom: 50px;
        display: block;
        font-family: Arial;
        font-size: 13px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;
    }
    .linkButtons {
        margin: 0 0 30px 0;
        width: 288px;
        height: 50px;
        --size-corner: 20px;
        font-size: 15px;
        text-align: center;
    }
    .paypallBtnIcon {
        width: 16.6px;
        height: 20px;
        margin: 15px 10px 15px 95px;
    }
    .buymeacoffeeBtnIcon {
        width: 16.6px;
        height: 20px;
        margin: 15px 10px 15px 68px;
    }
    .bankDetails{
        width: 288px;
        height: 257px;
        margin: 20px 0 0 0;
        padding: 20px 0 31px 12px;
        border: 1px solid $color-black;
        display: block;
    }
    .cardSVG{
        display: none;
    }
    .bankDetailstitle {
        font-size: 15px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0px;
        text-align: left;
    }
    .bankDetailsText {
        font-family: Arial;
        font-size: 13px;
        font-weight: 400;
        line-height: 15px;
        letter-spacing: 0em;
        text-align: left;
        padding: 15px 0 0 0;
    }
    .firstParagraphTextMobile {
        margin-top: 15px;
        display: block;
    }
    .textMobile{
        display: block;
    }
    .textDesktop {
        display: none;
    }
}