@import "../../../styles/variables.module";

.arrow,
.arrowMobile {
	margin-right: auto;
}

.arrowPath,
.arrowPathMobile {
	fill: currentColor;
}

.borderBackPath,
.borderBackPathMobile,
.borderGoHomePath,
.borderGoHomePathMobile {
	stroke: currentColor;
}

.borderBack,
.arrow,
.borderError,
.borderGoHome {
	@media screen and (min-width: $mobile) and (max-width: 1279.5px) {
		display: none;
	}
}

.borderBackMobile,
.arrowMobile,
.borderErrorMobile,
.borderGoHomeMobile {
	@media screen and (min-width: $desktop) {
		display: none;
	}
}
