@mixin mq($type) {
    $mobile: 320px;
    $tablet: 768px;
    $desktop: 1280px;

    @if $type =='mobile-gummy' {
        @media screen and (max-width: 479.98px) {
            @content;
        }
    }

    @if $type =='mobile-fixed' {
        @media screen and (min-width: 480px) and (max-width: 767.98px) {
            @content;
        }
    }

    @if $type =='mobile-only' {
        @media screen and (max-width: #{$tablet - 0.02}) {
            @content;
        }
    }

    @if $type =='mobile' {
        @media screen and (min-width: $mobile) {
            @content;
        }
    }

    @if $type =='tablet-only' {
        @media screen and (min-width: $tablet) and (max-width: #{$desktop - 0.02}) {
            @content;
        }
    }

    @if $type =='tablet' {
        @media screen and (min-width: $tablet) {
            @content;
        }
    }

    @if $type =='not-desktop' {
        @media screen and (max-width: #{$desktop - 0.02}) {
            @content;
        }
    }

    @if $type =='desktop' {
        @media screen and (min-width: $desktop) {
            @content;
        }
    }

    @if $type =='retina' {

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            @content;
        }
    }
}

@mixin cutBtn(){
    position: relative;
    font-family: inherit;
    --border-color: #231F20;
    --size-corner: 20px;
    --border-width: 3px;
    outline: none;
    border: none;
    clip-path: polygon(0 0,
            100% 0,
            100% 100%,
            80% 100%,
            var(--size-corner) 100%,
            0 calc(100% - var(--size-corner)));
    transition: background-color $transition-duration $timing-function;
    cursor: pointer;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background: var(--border-color);
        z-index: -2;
    }

    &::after {
        content: "";
        background: $color-black;
        position: absolute;
        inset: 0;
        z-index: -1;
        clip-path: polygon(var(--border-width) var(--border-width),
                100% var(--border-width),
                calc(100% - var(--border-width)) var(--border-width),
                calc(100% - var(--border-width)) calc(100% - var(--border-width)),
                calc(var(--size-corner) + calc(var(--border-width) / 2)) calc(100% - var(--border-width)),
                var(--border-width) calc(100% - var(--size-corner) - calc(var(--border-width) / 2)));
    }

        @media screen and (min-width: $desktop) {
            --size-corner: 36px;
        }

    &:hover {
        --border-color: #798738;
    }

    &:hover::after {
        background: $color-olive;
    }

    &:active {
        --border-color: #231F20;
    }

    &:active::after {
        background: $color-black;
    }

    &:focus:not(:active) {
        --border-color: #8b8b8b;
    }
}