$color-black: #171717;
$color-black-text: #000;
$color-dark-grey: #5D5D5D;
$color-grey: #8b8b8b;
$color-white-text: #fff;
$color-light-grey: #D9D9D9;
$color-ultra-light-grey: #F2F1F1;
$color-white: #F9F9F9;
$color-light-green: #716D44;
$color-bright-green: #76871E;
$color-green: #C4D294;
$color-banner: #CED9A1;
$color-ultra-light-green: #DCE1D0;
$color-light-brown: #957646;
$color-sand: #C3AD50;
$color-peach: #F06E45;
$color-olive: #798738;

$transition-duration: 250ms;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);

$section-padding: 80px;

$mobile: 320px;
$tablet: 768px;
$desktop: 1280px;