$black: #231F20;
$dark_grey: #5D5D5D;
$grey: #8b8b8b;
$light_grey: #D9D9D9;
$ultra_light_grey: #F2F1F1;
$white: #F9F9F9;
$light_green: #716D44;
$bright_green: #76871E;
$green: #C4D294;
$ultra_light_green: #DCE1D0;
$light_brown: #957646;
$sand: #C3AD50;
$peach: #F06E45;
$mobile: 320px;
$tablet: 768px;
$desctop: 1280px;
