@import '../../../styles/variables.module';
@import '../../../styles/mixins.module';

.members {
    width: $mobile;
    margin: 0 auto;
    padding: 20px $section-padding-mob 0;

    @include mq(desktop) {
        width: $desktop;
        padding: 84px $section-padding 0;
    }
}