@import "../../../../styles/variables.module";
@import "../../../../styles/mixins.module";

.custom__select {
  position: relative;
  width: 100%;
  @include mq(desktop) {
    width: 200px;
  }
}

.select__trigger {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color:  $color-grey;
  border-bottom: 1px solid $color-black-text;
  font-family: Arial;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 253%;
  padding-bottom: 7px;
  cursor: pointer;
  // &.select__triggerBorder{
  //   border-bottom: none;
  // }
  @include mq(desktop) {
    width: 430px;
    font-size: 22px;
    line-height: 150%;
    letter-spacing: -0.408px;
    &.select__triggerBorder{
      border-bottom: none;
    }
  }
}

.select__svg{
  width: 24px;
  height: 24px;
  @include mq(desktop) {
    width: 32px;
    height: 32px;
  }
}

.select__selected{
  color: $color-black;
  font-family: Arial;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -0.408px;
  @include mq(desktop) {
    font-size: 22px;
  }
}

.options {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  background-color: $color-white-text;
  width: 100%;
  color: $color-black;
  font-family: Arial;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 215%;
  @include mq(desktop) {
    font-size: 18px;
    line-height: 155%;
    letter-spacing: -0.408px;
    width: 430px;
  }
}

.options li {
  padding: calc(36px - (13px * 2.15)) 20px calc(36px - (13px * 2.15)) 20px;
  cursor: pointer;
  @include mq(desktop) {

  }
}

.options li:last-child {
  margin-bottom: 10px;
  @include mq(desktop) {

  }
}

.options li:first-child {
  margin-top: 10px;
  @include mq(desktop) {

  }
}

.options li:hover {
  background-color: $color-green;
}
