@import "../../../../styles/variables.module";
@import "../../../../styles/mixins.module";

.select {
  position: relative;
  margin-bottom: 30px;

  @include mq(desktop) {
    width: 360px;
    height: 75px;
    margin-bottom: 60px;
  }

  &:focus{
    outline: none;
  }

  &:focus .select__label{
    font-size: 10px;
    line-height: 1.2;
    -webkit-transform: translateY(-13px);
    -moz-transform: translateY(-13px);
    transform: translateY(-13px);
    
    @include mq(desktop) {
      font-size: 18px;
      line-height: 1.5;
      -webkit-transform: translateY(-32px);
      -moz-transform: translateY(-32px);
      transform: translateY(-32px);
    }
  }

  &__trigger {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0 10px;
    border-bottom: 1px solid $color-black-text;
    cursor: pointer;
  
    font-family: Arial;
    font-size: 13px;
    font-weight: 700;
    line-height: 1.5;

    color: $color-grey;
  
    @include mq(desktop) {
      width: 360px;
      padding: 32px 0 10px;

      font-size: 22px;
      letter-spacing: -0.408px;
  
      &.select__triggerBorder {
        border-bottom: none;
      }
    }
  }

  &__label{
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0);
    
    transition: transform $transition-duration $timing-function;
  }

  &__labelUp{
    font-size: 10px;
    line-height: 1.2;
    -webkit-transform: translateY(-13px);
    -moz-transform: translateY(-13px);
    transform: translateY(-13px);

    transition: transform $transition-duration $timing-function;
    
    @include mq(desktop) {
      font-size: 18px;
      line-height: 1.5;
      -webkit-transform: translateY(-32px);
      -moz-transform: translateY(-32px);
      transform: translateY(-32px);
    }
  }

  &__selected {
    color: $color-black;
  }

  &__icon {
    width: 25px;
    height: 25px;
    stroke: $color-black;
    transition: stroke $transition-duration $timing-function;
  
    @include mq(desktop) {
      width: 32px;
      height: 32px;
    }

    &:hover {
      stroke: $color-green;
    }
  }
}

.options {
  position: absolute;
  width: 100%;
  z-index: 20;
  padding: 20px 0;

  background-color: $color-white-text;
  @include mq(desktop) {
    padding: 10px 0;

    font-size: 18px;
    line-height: 155%;
    letter-spacing: -0.408px;
    width: 360px;
  }

  &:focus{
    outline: none;
  }

  &__item{
    padding: 10px 12px;
    cursor: pointer;

    transition: background-color $transition-duration $timing-function;

    &:hover{
      background-color: $color-green;
    }

    &:focus{
      outline: none;
      background-color: $color-green;
    }
    
    @include mq(desktop) {
      padding: 10px 24px;
    }
  }

  &__label{
    font-family: Arial;
    font-size: 13px;
    font-weight: 700;
    line-height: 2.15;

    @include mq(desktop) {
      font-size: 18px;
      line-height: 1.6;
      letter-spacing: -0.408px;
    }
  }
}

