@import "../../../../styles/variables.module";
@import "../../../../styles/mixins.module";

.select {
  position: relative;
  margin-bottom: 30px;
  @include mq(desktop) {
    width: 360px;
    height: 75px;
    margin-bottom: 60px;
  }

  &__trigger {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0 10px;
    border-bottom: 1px solid $color-black-text;
    cursor: pointer;
  
    font-family: Arial;
    font-size: 13px;
    font-weight: 700;
    line-height: 1.5;
  
    color: $color-grey;
  
    @include mq(desktop) {
      width: 360px;
      padding: 32px 0 10px;

      font-size: 22px;
      letter-spacing: -0.408px;
  
      &.select__triggerBorder {
        border-bottom: none;
      }
    }
  }

  &__selected {
    color: $color-black;
  }

  &__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;

    color: $color-black;
    background-color: transparent;

    &:hover{
      color: $color-green;
    }

    &:focus:not(:active){
      outline: none;
      color: $color-olive;
    }
  }

  &__icon {
    width: 25px;
    height: 25px;
    stroke: currentColor;
  
    @include mq(desktop) {
      width: 32px;
      height: 32px;
    }
  }
}

.options {
  position: absolute;
  width: 100%;
  z-index: 20;
  padding: 20px 0;

  background-color: $color-white-text;
  @include mq(desktop) {
    padding: 10px 0;

    font-size: 18px;
    line-height: 155%;
    letter-spacing: -0.408px;
    width: 360px;
  }

  &__item{
    padding: 10px 12px;
    cursor: pointer;

    transition: background-color $transition-duration $timing-function;

    &:focus{
      outline: none;
      background-color: $color-green;
    }
    
    @include mq(desktop) {
      padding: 10px 24px;
    }
  }

  &__label{
    font-family: Arial;
    font-size: 13px;
    font-weight: 700;
    line-height: 2.15;

    @include mq(desktop) {
      font-size: 18px;
      line-height: 1.6;
      letter-spacing: -0.408px;
    }
  }
}

