@import "../../../styles/variables.module";

.section {
	@media screen and (min-width: $mobile) and (max-width: 1279.5px) {
		padding-top: 20px;
		padding-bottom: 50px;
	}

	@media screen and (min-width: $desktop) {
		padding-top: 80px;
		padding-bottom: 100px;
	}
}

.container {
	margin: 0 auto;

	@media screen and (min-width: $mobile) and (max-width: 1279.5px) {
		width: $mobile;
		padding-left: $section-padding-mob;
		padding-right: $section-padding-mob;
	}

	@media screen and (min-width: $desktop) {
		width: $desktop;
		padding-left: $section-padding;
		padding-right: $section-padding;
	}
}

.wrapper {
	@media screen and (min-width: $desktop) {
		display: flex;
	}
}

.titleWrapper {
	@media screen and (min-width: $mobile) and (max-width: 1279.5px) {
		margin-bottom: 30px;
	}

	@media screen and (min-width: $desktop) {
		min-width: 520px;
		margin-right: 50px;
	}
}

.title {
	@media screen and (min-width: $mobile) and (max-width: 1279.5px) {
		font-size: 30px;
		line-height: 1.2;
		margin-bottom: 10px;
	}

	@media screen and (min-width: $desktop) {
		font-size: 64px;
		line-height: 1.25;
		letter-spacing: 0.364px;
		margin-bottom: 16px;
	}
}

.textHead {
	font-family: Arial;
	@media screen and (min-width: $mobile) and (max-width: 1279.5px) {
		font-size: 13px;
		line-height: 1.5;
	}

	@media screen and (min-width: $desktop) {
		font-size: 15px;
		line-height: 1.53;
	}
}

.textWrapper {
	@media screen and (min-width: $mobile) and (max-width: 1279.5px) {
		margin-bottom: 30px;
	}

	@media screen and (min-width: $desktop) {
		margin-bottom: 40px;
	}
}

.text {
	font-family: Arial;
	line-height: 1.5;

	@media screen and (min-width: $mobile) and (max-width: 1279.5px) {
		font-size: 13px;
	}

	@media screen and (min-width: $desktop) {
		font-size: 18px;
	}
}

.subTitle {
	@media screen and (min-width: $mobile) and (max-width: 1279.5px) {
		font-size: 15px;
		line-height: 1.8;
		margin-bottom: 5px;
	}

	@media screen and (min-width: $desktop) {
		font-size: 18px;
		line-height: 1.5;
		margin-bottom: 16px;
	}
}

.list {
	list-style: disc;

	@media screen and (min-width: $mobile) and (max-width: 1279.5px) {
		margin-top: 10px;
		padding-left: 20px;
	}

	@media screen and (min-width: $desktop) {
		margin-top: 24px;
		padding-left: 20px;
	}
}

.item:not(:last-child) {
	@media screen and (min-width: $mobile) and (max-width: 1279.5px) {
		margin-bottom: 10px;
	}

	@media screen and (min-width: $desktop) {
		margin-bottom: 16px;
	}
}
