@import '../../../styles/variables.module';
@import '../../../styles/mixins.module';

.members {
    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    &__item {

        flex-basis: calc((100% - 1*20px) / 2);

        @include mq(desktop) {
            flex-basis: calc((100% - 3*20px) / 4);
        }
    }    

    &__img {
        --size-corner: 45px;
        clip-path: polygon(0 0,
            100% 0,
            100% 100%,
            80% 100%,
            var(--size-corner) 100%,
            0 calc(100% - var(--size-corner)));
    }

    &__info {
        padding-top: 20px;
        padding-bottom: 10px;

        @include mq(desktop) {
            padding: 28px 34px;
        }
    }
        

    &__name {
        margin-bottom: 10px;
        font-family: inherit;
        font-size: 10px;
        font-weight: 400;
        line-height: normal;

        color: $color-black-text;

        @include mq(desktop){
            margin-bottom: 9px;

            font-size: 18px;
            letter-spacing: 0.35px;
        }
    }

    &__role {
        font-family: Arial;
        font-size: 10px;
        font-weight: 400;
        line-height: 1.2;
        
        color: $color-black-text;

        @include mq(desktop) {
            font-size: 18px;
            line-height: 1.5;
        }
    }
}