@import "../../../styles/variables.module";
@import "../../../styles/mixins.module";

.main {
	padding-top: 20px;

	@include mq(desktop) {
		padding-top: 80px;
	}
}

.container {
	width: $mobile;
	padding-left: $section-padding-mob;
	padding-right: $section-padding-mob;
	margin: 0 auto;

	@include mq(desktop) {
		width: $desktop;
		padding-left: $section-padding;
		padding-right: $section-padding;
	}
}
