@import '../../../styles/reset.styles';
@import '../../../styles/variables.module';
@import '../../../styles/utils.module';
@font-face {
    font-family: Furore; 
    src: url('../../../fonts/Furore.woff2') format('woff'); 
    
  }

  .ourProjects{
    padding-top: 110px;
    padding-bottom: 110px;
  }
  
  .head{
    font-family: Furore;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
  }

  .our-projects-card{
    --border-color: black;
    --size-corner: 20px;
    --border-width: 2px;
    position: relative;
    color: var(--black, #231F20);
    display: flex;
    width: 359px;
    height: 590px;
    padding-bottom: 0px;
    flex-direction: column;
    align-items: center;
    border: none;
    -webkit-clip-path: polygon( 0 0, 100% 0, 100% 100%, 80% 100%, var(--size-corner) 100%, 0 calc(100% - var(--size-corner)) );
    clip-path: polygon( 0 0, 100% 0, 100% 100%, 80% 100%, var(--size-corner) 100%, 0 calc(100% - var(--size-corner)) );
    &::before{
        content: "";
        position: absolute;
        inset: 0;
        background: var(--border-color);
        z-index: -2;
    }
    &::after{
        content: "";
        background: #ffffff;
        position: absolute;
        inset: 0;
        z-index: -1;
        clip-path: polygon( var(--border-width) var(--border-width), 100% var(--border-width), calc(100% - var(--border-width)) var(--border-width), calc(100% - var(--border-width)) calc(100% - var(--border-width)), calc(var(--size-corner) + calc(var(--border-width) / 2)) calc(100% - var(--border-width)), var(--border-width) calc(100% - var(--size-corner) - calc(var(--border-width) / 2)) );
}
}
  

  .wraper{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    gap: 17px;
    
  }

  .card-img{
   
  }

  .card-head{
    color: var(--black, #171717);
    margin-top: 40px;
    text-align: center;
    font-family: Furore;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px; /* 121.429% */
    letter-spacing: 0.35px;
  }

  .card-button {
    display: flex;
    padding: 16px 38px;
    font-family: inherit;
    font-size: 16px;
    justify-content: center;
    width: 208px;
    color: $color-white-text;
    border: none;
    background-color: $color-olive;
    cursor: pointer;
    transition: all $transition-duration $timing-function;
    &:hover{
      background-color: $color-green;
      color: $color-black;
    }
  }
  