


.mySwiper {
	padding-left: 98px;
	padding-right: 98px;
	padding-bottom: 50px;
}



.mySwiper .swiper-button-prev,
.mySwiper .swiper-button-next {
	display: none;
	width: 68px;
	height: 68px;
	transform: translateY(-70px);
	z-index: 1000;
}




.mySwiper .swiper-pagination-bullet {
	
	background-color: #D9D9D9;
	border-radius: 0;
	opacity: 1;
	width: 30px;
	height: 5px;
}

.mySwiper .swiper-pagination-bullet-active {
	background-color: #798738;
}