@import "../../../../styles/variables.module";

.rightTop {
	position: absolute;
	top: 0;
	right: 0;
}

.rightBottom {
	position: absolute;
	bottom: 0;
	right: 0;
}

.leftTop {
	position: absolute;
	top: 0;
	left: 0;
}

.leftBottom {
	position: absolute;
	bottom: 0;
	left: 0;
}

.review {
	position: relative;
	display: flex;

	@media screen and (min-width: $mobile) and (max-width: 1279.98px) {
		flex-direction: column;
		flex-basis: 224px;
		padding-left: 32px;
		padding-right: 32px;
		padding-top: 26px;
		padding-bottom: 26px;
	}

	@media screen and (min-width: $desktop) {
		padding-top: 24px;
		padding-bottom: 42px;
	}
}

.reviewImg {
	object-fit: cover;

	@media screen and (min-width: $mobile) and (max-width: 1279.98px) {
		margin: 0 auto;
		margin-bottom: 20px;
	}

	@media screen and (min-width: $desktop) {
		width: 100%;
		padding-left: 84px;
		margin-right: 20px;
	}
}

.reviewWrapper {
	@media screen and (min-width: $desktop) {
		padding-right: 84px;
	}
}

.reviewText {
	font-family: Arial;

	@media screen and (min-width: $mobile) and (max-width: 1279.98px) {
		font-size: 11px;
		line-height: 1.35;
		margin-bottom: 20px;
	}

	@media screen and (min-width: $desktop) {
		width: 569px;
		font-size: 18px;
		line-height: 1.5;
		margin-bottom: 32px;
	}
}

.authorName {
	line-height: 1.5;
	margin-bottom: 8px;

	@media screen and (min-width: $mobile) and (max-width: 1279.98px) {
		font-size: 9px;
	}

	@media screen and (min-width: $desktop) {
		font-size: 18px;
	}
}

.authorProfession {
	font-family: Arial;
	font-weight: 700;
	line-height: 1.53;
	color: $color-black;

	@media screen and (min-width: $mobile) and (max-width: 1279.98px) {
		width: 200px;
		font-size: 8px;
	}

	@media screen and (min-width: $desktop) {
		width: 326px;
		font-size: 13px;
	}
}
