@import '../../../styles/variables.module';

.section{
    background-color: $color-white;
}
.sectionWrap{
    display: flex;
    flex-direction: column;
    width: $desktop;
    margin: 0 auto;
    padding: 100px $section-padding 86px $section-padding;
}
.sectionDesc{
    font-family: Arial;
    font-size: 18px;
    line-height: 27px;
    width: 320px;
    color: $color-black;
    margin-left: 80px;
}
.sectionTitle{
    width: 400px;
}
.arrowIcon{
    margin-top: 30px;
}
.descWrap{
    display: flex;
    margin-bottom: 52px;
}
.anchor{
    display: block;
    height: 55px;
    margin-top: -55px;
    visibility: hidden;
    @media screen and (min-width: $desktop) {
        height: 90px;
        margin-top: -90px;
    }
}
.helpList{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.helpItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-white;
    border: 1px solid $color-black; 
    &:nth-child(odd) {
        padding-left: 34px;
        padding-right: 139px; 
        border-left: none;
    }
    &:nth-child(even) {
        padding-left: 139px;
        padding-right: 34px;
        border-right: none;
    }
    &:nth-child(-n+2){
        padding-bottom: 39px;
        border-top: none;
    }
    &:nth-child(n+3){
        padding-top: 46px;
        border-bottom: none;
    }
}
.helpDesc{
    font-family: Arial;
    font-size: 18px;
    font-style: normal;
    line-height: 27px;
    color: $color-grey;
    width: 291px;
    margin-bottom: 36px;
}
.helpBtn{
    font-family: inherit;
    background-color: $color-black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-ultra-light-grey;                                                                                
    font-size: 22px;
    --size-corner: 36px;
    width: 270px;
    height: 92px;
    border: none;
    clip-path: polygon(0 0,
            100% 0,
            100% 100%,
            80% 100%,
            var(--size-corner) 100%,
            0 calc(100% - var(--size-corner)));
    transition: background-color $transition-duration $timing-function;
    cursor: pointer;
    &:hover{
        background-color: $color-olive;
    }
    &:active,
    &:focus{
        background-color: $color-black;
    }
}

