@import '../../../styles/variables.module';

.members {
    width: $desktop;
    margin: 0 auto;
    padding: 84px $section-padding 0 $section-padding;
}

.members__wrapper{
    display: flex;
    gap: 80px;
    margin-bottom: 60px;
}

.members__title {
    color: $color-black-text;
}

.members__description{
    font-family: Arial;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    max-width: 322px;
    color: $color-black-text;
}

.members__list{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.members__item{
    flex-basis: calc((100% - 3*20px) / 4);
}
.members__info{
    padding: 28px 34px;
}

.members__name{
    margin-bottom: 9px;
    font-family: Furore, sans-serif;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.35px;
    color: $color-black-text;
}

.members__position {
    font-family: Arial;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: $color-black-text;
}