@import '../../../styles/variables.module';

.headerBox{
  position: fixed;
  width: 100vw;
  background-color: $color-ultra-light-grey;
  top: 0;
  z-index: 100;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: $mobile;
  margin: 0 auto;
  padding: 16px $mobile-padding;
  @media screen and (min-width: $desktop) {
        width: $desktop;
        padding: 32px $section-padding;
      }
}
.logo {
  width: 60px;
  height: 26px;
  @media screen and (min-width: $desktop) {
      width: 170px;
      height: 76px;
    }
}
.headerWrapper {
  display: flex;
}

.mobileHeader{
  display: none;
  flex-direction: column;
  @media screen and (min-width: $desktop) {
      display: none;
    }
}
.mobileHeader.open{
  display: flex;
}
// .mobileHeader.open .headerButton{
//   display: block;
//   @media screen and (min-width: $desktop) {
//       display: none;
//     }
// }

.nav {
  display: none;
  @media screen and (min-width: $desktop) {
      display: flex;
    }
 
}
.navMobile{
  display: flex;
  flex-direction: column;
  @media screen and (min-width: $desktop) {
      display: none;
    }
}
.navLink {
  position: relative;
  font-size: 18px;
  line-height: 27px;
  color: $color-grey;
  transition: all $transition-duration $timing-function;
  &:not(:last-child){
    margin-right: 20px;
  }
  &:hover{
    color: $color-black;
  }
  &::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -8px;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: transparent;
    transition: background-color $transition-duration $timing-function;
  }
  &.activeLink::before {
    background-color: $color-black;
  }
}
.activeLink {
  color: $color-black;
}

.headerButton {
  display: none;
  padding: 12px 16px;
  font-family: inherit;
  font-size: 16px;
  justify-content: center;
  line-height: 27px;
  color: $color-white-text;
  background-color: $color-olive;
  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color $transition-duration $timing-function, color $transition-duration $timing-function;

  &:hover{
    background-color: $color-green;
    color: $color-black;
  }

  &:active {
    background-color: $color-olive;
    color: $color-white-text;
  }

  &:focus:not(:active) {
    border: 3px solid $color-black;
  }
    @media screen and (min-width: $desktop) {
            display: flex;
          }
}

