@import "../../../../styles/variables.module";

.cardArea {
  padding-top: 40px;
  display: flex;
  flex-direction: row;
  width: 955px;
  height: 447px;
  border-bottom: 1px $color-grey solid;
}

.image {
  margin-right: 80px;
  width: 170px;
  height: 170px;
}

.textAndName {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text {
  font-family: Arial;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0px;
  text-align: left;
  width: 570px;
}

.nameUk {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0px;
  text-align: left;
}

.designation {
  font-family: Arial;
  font-size: 13px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  max-width: 326px;
  padding-top: 8px;
}

.buttonArea {
  padding-left: 40px;
}

.changeReview {
  margin-right: 15px;
}
